<h1>Editing contact me</h1>

<%= render "form", contact_me: @contact_me %>

<br>

<div>
  <%= link_to "Show this contact me", @contact_me %> |
  <%= link_to "Back to contact mes", contact_mes_path %>
</div>
